.section-contact-top{
  position: relative;
    header{
      background: linear-gradient(rgba(0,0,0,.2),transparent);
    }
  .title-page{
    position: absolute;
    top: 90px;
    display: block;
    height: 60px;
    width: 235px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
    margin: auto;
  }
}

.wrapper-map{
  height: 500px;
  overflow: hidden;
}

.map{
  height: 600px;
  margin-top: -40px;
  .gm-style{
    opacity: 0.5;
  }
}

.section-contacts{
  .block-offset{
    padding: 155px 0;
  }
}

.body-contacts{
  padding: 0 30px 0 25px;
}

.city{
  font: 29px 'Roboto-Medium', sans-serif;
  color:$color-default;
  line-height: 25px;
  margin-bottom: 30px;
}

.street{
  font: 17px 'Roboto-Regular', sans-serif;
  color:$color-default;
  text-decoration: underline;
  line-height: 27px;
  margin-bottom: 10px;
}

.phone{
  font: 17px 'Roboto-Thin', sans-serif;
  color:$color-default;
  line-height: 23px;
  margin-bottom: 15px;
}

.email{
  font: 17px 'Roboto-Light', sans-serif;
  color:$color-default;
}

